@using PfsDevelUI.Shared

<div>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" ChartOptions="@_chartOptions" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
</div>
